/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

@font-face {
  font-family: superDessert;
  src: url(../font/Super\ Dessert.ttf);
}


/******************************************
/* BASE STYLES
/*******************************************/

body {
  /* background-color: #f7f4e9; */
  background-color: #D9E4DE;
  font-family: "Bebas Neue", sans-serif;
  color: #2B4B40;
}

header {
  padding: 10px 0;
  position: sticky;
  width: 100%;
  top: 0;
  box-shadow: 1px 1px 3px 0px gray;
  /* background-color: #f7f4e9; */
  background-color: #D9E4DE;
}

footer {

}

/* Media query for screens */
@media screen and (max-width: 880px) {
  iframe {
    height: 152px;
  }
}

@media screen and (min-width: 1100px) {
  .hamb {
    display: none;
}

#sidebar-menu {
  max-height: none;
  top: 0;
  position: relative;
  /* width: fit-content; */
  background-color: transparent;
  float: right;
  padding-left: 18%;
}

}

@media screen and (min-width: 801px) and (max-width: 1000px) {

  /* #sidebar-menu {
    margin-left: 25%;
    margin-top: 0;
  } */

}

@media screen and (min-width: 1001px) and (max-width: 1480px) {
  
  /* #sidebar-menu {
    margin-left: 30%;
  } */

}

/******************************************
/* NAV STYLES
/*******************************************/

/* nav {
  display: inline;
} */

.logo {
  margin-left: 10%;
  text-decoration: none;
  color: black;
  font-size: 32px;
  letter-spacing: 0.5px;
  font-family: superDessert;
  /* color: #FF7124; */
  color: #F3BC00;
}

/* nav  */
a {
  text-decoration: none;
  color: black;
  margin: 0 2% 0 1%;
  font-size: 32px;
  letter-spacing: 0.5px;
  font-family: superDessert;
  /* color: #FF7124; */
  color: #F3BC00;
}

a:hover {
  -webkit-text-fill-color: #D9E4DE;
  -webkit-text-stroke-color: currentColor;
  -webkit-text-stroke-width: .04em;
}

.hamb {
  cursor: pointer;
  float: right;
  padding: 15px 20px;
}

.hamb-line {
  background: black;
  display: block;
  height: 2px;
  position: relative;
  width: 30px;
}

.hamb-line::before,
.hamb-line::after {
  background: black;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.hamb-line::before {
  top: 5px;
}

.hamb-line::after {
  top: -5px;
}

.side-menu {
  display: none;
}

.nav {
  width: 65%;
  background-color: #f7f4e9;
  overflow: hidden;
  color: #F3BC00;
}

.nav{
  max-height: 0;
  transition: max-height 0s ease-out;
}

/* Toggle menu icon */
.side-menu:checked ~ nav {
  max-height: 80%;
  max-width: 100%;
  background-color: #D9E4DE;
}
.side-menu:checked ~ nav a {
    display: block;
    padding: 5% 0 2% 10%;
    margin-left: 5%;
    color: var(--white);
}
.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top:0;
}

/******************************************
/* H1
/*******************************************/

h1 {
  font-size: 64px;
  text-align: center;
  margin-top: 40%;
  letter-spacing: 0.5px;
  clear: both;
  font-family: superDessert;
  color: #F3BC00;
  -webkit-text-stroke-color: #2B4B40;
  -webkit-text-stroke-width: .04em;
}

.text-outline {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: .012em;
}

.text-outline-hover {
  position: relative;
  
  &::before {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 0;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      content: attr(data-text);
      transition: max-width .8s cubic-bezier(.22, .61, .36, 1);
      -webkit-text-fill-color: black;
  }
      
  &:hover {
      &::before {
          max-width: 100%;
      }
  }
}

/******************************************
/* LAYOUT STYLES
/*******************************************/

main > h3 {
  text-transform: lowercase;
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
  font-weight: 100;
}

.mainimg {
  max-width: 30%;
  float: left;
  margin: 5% 0 5% 10%;
}

section > iframe {
  float: left;
  max-width: 50%;
  margin: 5% 2%;
}

.about {
  font-family: "Bebas Neue", sans-serif;
  font-size: 20px;
  float: left;
  font-weight: 100;
  text-align: center;
  padding: 2% 20% 32%;
}

section > h2 {
  letter-spacing: 16px;
  font-size: 44px;
  text-align: center;
  font-weight: 100;
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: superDessert;
  /* -webkit-text-stroke-color: #F3BC00;
  -webkit-text-stroke-width: .04em; */
}

.desc {
  font-size: 20px;
  font-weight: 100;
  margin: 0 0 0;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}


/* section > h4 {
  font-size: 18px;
  font-weight: 100;
  display: inline;
} */

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.postTitle {
  color: #2B4B40;
}

.landscapeimg {
  max-width: 45%;
  float: left;
  margin: 5% 0 5% 4%;
}

.portraitimg {
  max-width: 30%;
  float: left;
  margin: 5% 0 5% 10%;
}

.navBack {
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px;
  margin-top: 5%;
  color: #F3BC00;
  -webkit-text-stroke-width: .01em;
}
