  .songListBTN {
    position: absolute;
    top: 50%;
    left: -80px;
    transform: translateY(-50%);
    width: 55px;
    height: 55px;
    display:block;
  }

  .recordBoxContainer {
    position: absolute;
    bottom: 2vw;
    right: 2vw;
    width: 45%;
    height: 20vw;
    -webkit-box-shadow: 5px 5px 20px 0px rgba(0,0,0,1);
    -moz-box-shadow: 5px 5px 20px 0px rgba(0,0,0,1);
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,1);
}

  .circleBTN {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #fff;
    border-radius: 50px;
  }
  
  .circleBTN2 {
    top: 0;
    left: 20px;
  }
  .circleBTN3 {
    top: 0;
    left: 40px;
  }
  .circleBTN4 {
    top: 20px;
    left: 0;
  }
  .circleBTN5 {
    top: 20px;
    left: 20px;
  }
  .circleBTN6 {
    top: 20px;
    left: 40px;
  }
  .circleBTN7 {
    top: 40px;
    left: 0;
  }
  .circleBTN8 {
    top: 40px;
    left: 20px;
  }
  .circleBTN9 {
    top: 40px;
    left: 40px;
  }