---
layout: default
title: Home
---
<h4>
  all things funky happen at fiveAM
</h4>

<h3>
  fiveAM station *now playing...*
</h3>

<div class="recordBoxContainer">
  {% include spotifyPlaylist.html id="3OkugeswBcDrxewMu7GZwK" %}
  <div class="songListBTN">
    <span class="circleBTN circleBTN1"></span>
    <span class="circleBTN circleBTN2"></span>
    <span class="circleBTN circleBTN3"></span>
    <span class="circleBTN circleBTN4"></span>
    <span class="circleBTN circleBTN5"></span>
    <span class="circleBTN circleBTN6"></span>
    <span class="circleBTN circleBTN7"></span>
    <span class="circleBTN circleBTN8"></span>
    <span class="circleBTN circleBTN9"></span>
  </div>
</div>

{% for post in paginator.posts %}
  {% include featured-post.html %}
{% endfor %}

<!-- Pagination links 
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div> -->
